name: Build and upload to PyPI (v5)

on:
  push:
    branches:
      - main
    paths:
      - 'projects/mpy-cross-v5/**'
      - .github/workflows/publish-v5.yml
    tags:
      - mpy-cross-v5/*
  pull_request:
    branches:
      - main
    paths:
      - 'projects/mpy-cross-v5/**'
      - .github/workflows/publish-v5.yml

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04-arm, windows-latest, windows-11-arm, macos-latest]
      fail-fast: false

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_ARCHS_MACOS: x86_64 arm64
          CIBW_ARCHS_LINUX: auto
          CIBW_ARCHS_WINDOWS: auto
        with:
          package-dir: ./projects/mpy-cross-v5

      - uses: actions/upload-artifact@v4
        with:
          name: artifact-${{ matrix.os }}
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true

      - name: Build sdist
        run: pipx run build --sdist projects/mpy-cross-v5

      - uses: actions/upload-artifact@v4
        with:
          name: artifact-source
          path: projects/mpy-cross-v5/dist/*.tar.gz

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    # upload to PyPI on every tag
    if: github.event_name == 'push' && github.ref_type == 'tag'
    steps:
      - uses: actions/download-artifact@v5
        with:
          pattern: artifact-*
          merge-multiple: true
          path: dist

      - uses: pypa/gh-action-pypi-publish@v1.13.0
