
name: Publish Python Package

on:
  push:
    tags:
      - mpy-cross-multi/v*

permissions:
  contents: read

jobs:
  build:
    name: Build distribution
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Buld the distribution package
      run: pipx run build
    - name: Store the distribution package
      uses: actions/upload-artifact@v4
      with:
        name: dist
        path: dist/

  publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
    - name: Download the dist
      uses: actions/download-artifact@v4
      with:
        name: dist
        path: dist/
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
